.CodeMirror {border-top: 1px solid #eee; border-bottom: 1px solid #eee; line-height: 1.3;}
.CodeMirror-linenumbers { padding: 0 8px; }
/*下面的css样式都可以根据自己需求自定义*/
div[contenteditable],.miror{
	width: 100%;
	height: 900px;
	padding:10px;
	overflow: auto;
	outline: none;
	border:1px solid #bbb;
}
div[contenteditable] img,.miror img{
	max-width: 100%;
	max-height: 200px;
}
/*修复显示bug所用，要知道什么bug可以删除试试*/
.miror .CodeMirror pre{
	padding:0 35px;
}
/*.rt-grey 是markdown格式语法特殊格式高亮*/
div[contenteditable] .rt-grey{
	color: rgb(37, 99, 171);
}
/*.rt-link是对markdown格式语法的link进行高亮*/
div[contenteditable] .rt-link{
	color: rgb(52,110,183);
}
/*对bootstrap 内的h标签和p标签进行覆盖*/
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
}
p {
	margin: 0;
}
